*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fullred{
    height: 100vh;
    background-color: red;
}

.fullgreen{
    height: 100vh;
    background-color: green;
}

.fullyellow{
    height: 100vh;
    background-color: yellow;
}